.subheading {
  /* margin-top: 9.6rem; */
  font-size: 2rem;
  font-weight: 500;
  color: #cf711f;
  display: block;
  margin-bottom: 1.6rem;
  letter-spacing: 0.75px;
  text-transform: uppercase;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
 
}
.grid--align-v{
  align-items: center;
}
.gap-v{
  row-gap: 4.8rem !important;
}
.gap-h-small{
  column-gap: 3.2rem
}
.gap-v-small{
  row-gap: 3.2rem !important;
}
.gap-h{column-gap: 3.2rem}
.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid--2-cols {
  grid-template-columns: 1fr 1fr;
}
.grid--3-cols {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.btn,.btn:link,
.btn:visited {
    text-decoration: none;

    font-size: 2rem;

    border-radius: 9px;
    display: inline-block;
    padding: 1.4rem 3.4rem;
    font-weight: 500;
}
.btn--full:link,
.btn--full:visited {
    background-color: #e67e22;
    color: #fff;
    transition: background-color 0.3s;
}
.btn--full:hover,
.btn--full:active {
    background-color: #cf711f;
}

.btn--outline:link,
.btn--outline:visited {
    transition: all 0.3s;
    /* background-color: #fdf2e9; */

    background-color: #fff;
    color: #555;
}
.btn--outline:hover,
.btn--outline:active {
    background-color: #fdf2e9;

    box-shadow: inset 0 0 0 3px #fff;
}
.margin-right-sm {
    margin-right: 1.6rem !important;
}

.heading-primary,
.heading-scondary {
    letter-spacing: -0.5px;
    font-weight: 700;

    color: #333;
}
.heading-primary {
    font-size: 5.2rem;
    line-height: 1.05;

    margin-bottom: 3.2rem;
}
.heading-scondary {
    font-size: 4.4rem;
    /* letter-spacing: 1.01; */
    margin-bottom: 9.6rem;
    line-height: 1.2;
}

.heading-tertiory {
  font-size: 3rem;
  margin-bottom: 3.2rem;
  line-height: 1.2;
  
}
.text-center{
  text-align: center;
}

