* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: "Rubik", sans-serif;
    font-weight: 400;
}
/* .container {
    max-width: 124rem;
    margin: 0 auto;
} */
.nav {
    grid-column: 1/-1;
    display: flex;
    /* justify-content: space-between; */
    padding: 4rem 5rem;
    color: #fff;
}
.header {
    display: flex;
    padding: 0 4.8rem;
    justify-content: space-between;
    height: 9.6rem;
    align-items: center;
    background-color: #fdf2e9;
}
.logo {
    height: 2.2rem;
}

.navigation-list {
    display: flex;
    gap: 4.8rem;
    list-style: none;
    align-items: center;
}

.navigation-link:link,
.navigation-link:visited {
    text-decoration: none;
    color: #333;
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    transition: all 0.3s;
}

.navigation-link:hover,
.navigation-link:active {
    color: #e67e22;
}
.nav-cta:link,
.nav-cta:visited {
    transition: all 0.3s;
    color: #fff;
    padding: 1rem 2.4rem;
    border-radius: 9px;
    color: #fff;
    background-color: #e67e22;
    display: inline-block;
}
.nav-cta:hover,
.nav-cta:active {
    background-color: #cf711f;
}

.logo-img {
    width: 100%;
}
.hero-text-box {
}
.hero-img-box {
}
.section-hero {
    /* background-color: brown; */
    padding: 4.8rem 0 9.6rem 0;
    background-color: #fdf2e9;
}
.hero {
    max-width: 130rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 9.6rem;
    /* height: 100vh; */
    align-items: center;
    padding: 0 3.2rem;
    /* background-color: blueviolet; */
    /* justify-items: center; */
}
.hero-img {
    width: 100%;
}
.hero-description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 4.8rem;
}

.deliveard-meals {
    display: flex;
    align-items: center;
    /* justify-content:space-around ; */
    margin-top: 8rem;
    gap: 1.6rem;
    /* padding-left: 1.8rem; */
}
.customers-img {
    width: 4.8rem;
    border-radius: 50%;
    margin-right: -1.8rem;
    /* padding: rem; */
    border: 3px solid #fff;
}
.customers-img:first-child {
    /* margin: ; */
    border: none;
}
.customers-img:last-child {
    /* margin: ; */
    margin-right: 0;
}
.hero-text-box {
    /* padding: 3.6rem; */
}
.deliveard-text {
    font-size: 1.8rem;
    font-weight: 500;
}
.deliveard-text span {
    color: #cf711f;
    font-weight: 700;
}

.section-how {
    padding: 9.6rem 0;
}
.section-featured {
    padding: 4.8rem 0 0 0;
}
.heading-featured {
    text-align: center;
    font-size: 1.4rem;
    text-transform: uppercase;
    font-weight: 500;
    color: #999;
    margin-bottom: 3.2rem;
}
.featured-imgs {
    display: flex;
    /* gap:2rem; */

    /* gap: 1rem; */
    /* background-color: #555; */
    justify-content: space-around;
    /* padding: 0 3.2rem; */
}

.featured-imgs img {
    height: 3.2rem;
    opacity: 50%;
    filter: brightness(0);
}

.step-number {
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}

.step-description {
    font-size: 1.8rem;
    /* font-weight: 300; */
    line-height: 1.8;
}

.step-img {
    /* width: 20rem; */
    width: 35%;
}
/* .center{
  align-items: center;
  justify-items: center;
} */
.step-text-box {
    border-color: blueviolet;
}
.step-img-box {
    /* background-color: aqua;  */
    /* text-align: center; */
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.step-img-box::before {
    content: "";
    display: block;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #feefe2;
    /* height: 18rem; */
    /* height: 35rem; */
    position: absolute;
    border-radius: 50%;
    z-index: -2;
    padding-bottom: 60%;
}
.step-img-box:after {
    content: "";
    display: block;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f9dfc7;
    /* height: 18rem; */
    /* height: 30rem; */
    position: absolute;
    border-radius: 50%;
    z-index: -1;
    padding-bottom: 50%;
}

.section-meals {
    padding: 9.6rem 0;
}
.meal {
    box-shadow: 0 0 1rem #e9e9e9;
    border-radius: 10px;
    overflow: hidden;
    transition: all 0.5s;
}
.meal:hover {
    transform: translateY(-2rem);
}
.meal-img {
    width: 100%;
    margin-bottom: 3.2rem;
}
.meal-tag {
    background-color: #03c03c;
    border-radius: 15px;
    padding: 0.3rem 1rem;
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 500;
    margin-left: 3.2rem;
    margin-bottom: 1.2rem;
}
.meal-title {
    margin-bottom: 3.2rem;
    margin-left: 3.2rem;
    font-size: 2.4rem;
    font-weight: 600;
}
.meal-attrs {
    margin-left: 3.2rem;
    list-style: none;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    /* padding:0 1.2rem; */
}
.meal-attr {
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    gap: 2rem;
}
.icon {
    color: #e67e22;
    font-size: 2.4rem;
    /* margin-right: 1.2rem; */
}
.meal-list-title {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 3.2rem;
}
.list-meal {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.box-btn-see-all {
    text-align: center;
    margin-top: 4.2rem;
}
/* .btn-see{margin:0 auto;} */
.btn-see:link,
.btn-see:visited {
    color: #e67e22;
    font-size: 1.8rem;
    text-decoration: none;
    border-bottom: 1px solid #e67e22;
    transition: all 0.4s;
    display: inline-block;
    padding-bottom: 2px;
}
.btn-see:hover,
.btn-see:active {
    border-color: transparent;
    /* border: none; */
}

.section-testimonials {
    background-color: #fdf2e9;
}

.img-customer-testimonial {
    height: 6.4rem;
    border-radius: 50%;
    margin-bottom: 2.4rem;
}
.info-customer-testimonial {
    font-size: 1.8rem;
    /* font-weight: 300; */
    line-height: 1.8;
    color: #333;
    margin-bottom: 1.6rem;
}
.name-customer {
    font-weight: 300;
    font-size: 1.6rem;
    color: #777;
}
.customers {
}
.testimonials-content {
    padding: 9.6rem;
}
.img-gallery {
    width: 100%;
    transition: all 0.3s;
}

.testimonials-gallery {
    padding: 1.8rem;
}

.align-v {
    align-items: center;
}

.img-gallery:hover {
    transform: scale(1.1);
}
.box-img {
    overflow: hidden;
}
.section-pricing {
    padding: 9.6rem 0;
}
.box-cards {
    padding: 0 14.8rem;
    margin-bottom: 4.8rem;
}

.card {
    border: 1px solid #f9dfc7;
    border-radius: 15px;
    padding: 5.2rem;
}

.list-option-price {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    margin-bottom: 6.4rem;
}
.option-price {
    display: flex;
    align-items: center;
    gap: 1.8rem;
    font-size: 1.8rem;
}
.title-card {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #e67e22;
    margin-bottom: 1.8rem;
}
.price-card {
    font-size: 6.4rem;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 1.8rem;
}
.price-card::before {
    content: "$";
    font-size: 3.2rem;
    margin-right: 1rem;
    font-weight: 500;
}
.detile-card {
    font-size: 1.4rem;
    color: #777;
    margin-bottom: 6.4rem;
}
.icon-check {
    font-size: 3.2rem;
    color: #cf711f;
}
.card-complate {
    background-color: #fff4ea;
    border: none;
    position: relative;
    overflow: hidden;
}
.card-complate::before {
    content: "best value";
    position: absolute;
    right: -10%;
    top: 5%;
    font-size: 1.2rem;
    background-color: #f6ca07;
    text-transform: uppercase;
    font-weight: 700;
    padding: 1rem 5rem;
    transform: rotate(45deg);
    display: block;
    /* width: 30%; */
    /* display: table; */
    /* width: 50%; */
    /* transform-origin: bottom right; */
}
.title-more {
    font-size: 1.6rem;
    color: #333;
    margin-bottom: 9.6rem;
}

.icon-more {
    color: #e67e22;
    font-size: 3.2rem;
    font-weight: 700;
}
.box-icon {
    display: inline-block;
    padding: 1.4rem;
    background-color: #fdf2e9;
    border-radius: 50%;
    margin-bottom: 3.2rem;
}

.subtitle-more {
    font-size: 2.6rem;
    margin-bottom: 1.8rem;
    /* line-height: 1.2; */
    font-weight: 700;
    color: #333;
}
.info-more {
    font-size: 1.8rem;
    line-height: 1.8;
    color: #555;
}

.section-cta {
    padding: 9.6rem 0;
}

.cta {
   
    /* height: 50rem; */
    border-radius: 11px;
    display: grid;
    overflow: hidden;
    grid-template-columns: 2fr 1fr;
    background-image: linear-gradient(to bottom right, #ffc078, #fd7e14);
}

.cta-img {
    background-image:linear-gradient(to bottom right, rgba(255, 192, 120, 0.35), hwb(27 8% 1% / 0.351)), url("../content/img/eating.jpg");
    background-position: center;
    background-size: cover;
}
.cta-text{
    padding: 4.8rem 6.4rem;
}
.cta-text .heading-scondary{
    margin-bottom: 4.8rem;
}
.cta-description{
    font-size: 1.8rem;
    line-height: 1.8;
    color: #333333c9;
    margin-bottom: 5.2rem;
}
.cta-form{
    grid-template-columns: 1fr 1fr;
    display: grid;
    row-gap: 2.4rem;
    column-gap: 3.2rem;
}
.box-input{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.label-form{
    font-size: 1.8rem;
    font-weight: 500;
    color: #333;
}
.form-textbox{
    /* height: 2rem; */
padding: 1.4rem ;
border-radius: 11px;
border: none;
display: inline-block; background-color: #f2eae2;
outline: none;
font-family: inherit;
}
.form-textbox::placeholder{
    font-size: 1.8rem;
    color: #999;
   
}
.form-textbox:active,.form-textbox:focus{
    box-shadow:  0 0 0 10px #e6dfd7bf;}
.btn-form{
    background-color: #532e0e;
    border: none;
    color: #ddd;
    margin-top: auto;
  font-weight: 700;
}
select{
    font-size: 1.8rem;
    color: #333; background-color: #f2eae2;
    border: none;
}